@font-face {
    font-family: 'moonLight';
    src: url('fonts/Moon Light.otf');
}

@font-face {
    font-family: 'moonBold';
    src: url('fonts/Moon Bold.otf');
}


* {
    font-family: 'moonLight';
    margin: 0 auto;
    padding: 0 auto;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    color: #eee;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    margin: 0;
    padding: 6px 0 3px 0;
    font-family: 'moonBold';
    font-size: 24px;
}

canvas {
    margin: 0 auto;
    padding: 0 auto;
}

#gameContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 200;
    /* line-height: 30vh; */
    color: #eee;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: -10;
    color: #eee;
    /* line-height: 30vh; */
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.logo{
    margin: 27vh 0 5vh 0;
}

.splash h2{
    font-family: moonLight;
}

.loading{
    margin-top: 20vh;
}

.sound-control{
    background-color: #eee;
    color: #111;
    display: none;
    z-index: 200;
    position: absolute;
    margin-top: 28vh;
    height: 300px;
    width: 300px;
    opacity: 0.4;
    border-radius: 50px;
}

.sound-control h4{
    margin-top:50px;
    font-size: 40px;
    font-family: moonBold;
}

.sound-icon{
    margin: 40px 10px;
    /* padding: 10px;
    border: solid 1px #000;
    border-radius: 20px;
    background-color: #fff; */
}